<head>
  <title>DUR-Suggest - Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
  <link rel="stylesheet" type="text/css" href="frontend/styles.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1 id="title">Suggest</h1>
      </div>
      <div class="col-sm">
        <div id='loginBox'>
          <p id='enteruser'>Enter your User ID:</p>
          <input type="number" name='uid' step="1" id="uid" placeholder='1'>
          <input type="submit" value="Submit" id='idsubmit'>
          <input type="submit" value="Create User" id='showcreate'>
        </div>
      </div>
    </div>
    <div class="row hidden" id='createNewUser'>
      <div class="col-sm">
        <h2 id="newuser">New User</h2>
        <p id="getStarted">Get started, rate some movies</p>
        <div class="row firstRatings"></div>
        <input type="submit" value="Get Different Movies" id='refreshToRate'>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 id='recommendedTitle' class='hidden'>Recommended For You</h2>
    <div class="row recommended">

    </div>
    <h2 id='previousTitle' class='hidden'>Your Previous Ratings</h2>
    <div class="row previouslyrated">
    </div>
    <h2 id='genresTitle' class='hidden'>Your Top Genres</h2>
    <div class="row topgenres">
    </div>
  </div>
  <div class="translations">
    <input type="submit" value="FR" class='translate' data-lang='FR'>
    <input type="submit" value="EN" class='translate' data-lang='EN'>
  </div>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
  <script src="frontend/index.js"></script>
</body>
