h3 {
  font-size: 1rem;
}

div.recommend {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.recommend a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.recommend a:hover {
    background-color: #777;
}

div.row {
  margin-top: 1em;
}

div.recommended div.previouslyrated {
  border-style: dashed;
  padding: 5px;
}

h2.hidden {
  display: none;
}
div.hidden {
  display: none;
}
img.hidden {
  display: none;
}

img.poster {
  width: 120;
  height: 180;
}

body {
  background-image: none;
  background-size: 20em;
}

div.translations{
  position: absolute;
  right: 0;
  bottom: 0;
}

#enteruser, #newuser {
  display: inline;
}

/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;

  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;

}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}
